<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524100826492-kh9pr53euka1hbjmfd6q6lfecdgcjlo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524100826492-kh9pr53euka1hbjmfd6q6lfecdgcjlo9</string>
	<key>API_KEY</key>
	<string>AIzaSyD8SriJ3tO7e4bOJv2L43_luKK3ZoOSkOM</string>
	<key>GCM_SENDER_ID</key>
	<string>524100826492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.callor.firebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-my-app-9fea1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-my-app-9fea1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524100826492:ios:07f6332f1233b0359e20f9</string>
</dict>
</plist>